@model CartViewModel
<section id="free-shipping-promotion">
    <div>
        <span class="free-shipping-string">
            @HtmlLocalizer["Spend {0} more and get free delivery today!", Model.FormatPrice(Model.RemainingAmountForFreeShipping)]
        </span>
    </div>
</section>