@model CartViewModel
<section id="free-shipping-promotion">
    @if (!Model.IsEmpty && Model.IsShippingNeeded) {
        <div>
            <span class="free-shipping-string">
                @HtmlLocalizer["Spend {0} more for free shipping!", Model.FormatPrice(Model.RemainingAmountForFreeShipping)]
            </span>
        </div>
    }
</section>